<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	    <key>CFBundleURLTypes</key>
	    <array>
        		<dict>
        			<key>CFBundleTypeRole</key>
        			<string>Editor</string>
        			<key>CFBundleURLName</key>
        			<string>your url name</string>
        			<key>CFBundleURLSchemes</key>
        			<array>
        				<string>https://bqjcd.share2dlink.com/</string>
        			</array>
        		</dict>
        		<dict>
        			<key>CFBundleTypeRole</key>
        			<string>Editor</string>
        			<key>CFBundleURLName</key>
        			<string>weixin</string>
        			<key>CFBundleURLSchemes</key>
        			<array>
        				<string>wx22d5ab853c3e8aea</string>
        			</array>
        		</dict>
        		<dict>
        			<key>CFBundleTypeRole</key>
        			<string>Editor</string>
        			<key>CFBundleURLName</key>
        			<string>tencent</string>
        			<key>CFBundleURLSchemes</key>
        			<array>
        				<string>tencent1108762481</string>
        			</array>
        		</dict>
        	</array>

            <!-- 解决flutter_downloader插件在ios上下载完成后在 文件-我的iPhone不显示文件的问题 -->
        	<key>UISupportsDocumentBrowser</key>
            <true/>
            <key>LSSupportsOpeningDocumentsInPlace</key>
            <true/>
            <key>UIFileSharingEnabled</key>
            <true/>

        	<key>LSApplicationQueriesSchemes</key>
            <array>
                    <string>weixin</string>
                    <string>weixinULAPI</string>
                    <string>weixinURLParamsAPI</string>
                    <string>mqzone</string>
                    <string>sinaweibo</string>
                    <string>alipayauth</string>
                    <string>alipay</string>
                    <string>safepay</string>
                    <string>mqq</string>
                    <string>mqqapi</string>
                    <string>mqqopensdkapiV3</string>
                    <string>mqqopensdkapiV2</string>
                    <string>mqqapiwallet</string>
                    <string>mqqwpa</string>
                    <string>tim</string>
                    <string>mqqbrowser</string>
                    <string>mqqbrowser</string>
                    <string>wtloginmqq2</string>
                    <string>mqqOpensdkSSoLogin</string>
                </array>
        <key>LSRequiresIPhoneOS</key>
        <true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	    <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
            <key>NSAllowsArbitraryLoadsInWebContent</key>
            <true/>
        </dict>
		<key>io.flutter.embedded_views_preview</key>
		<string>YES</string>
		<!-- 相册 -->
		<key>NSPhotoLibraryUsageDescription</key>
		<string>App需要您的同意,才能访问相册</string>
		<!-- 相机 -->
		<key>NSCameraUsageDescription</key>
		<string>App需要您的同意,才能访问相机</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Flutter Money</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>flutter_money</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>